*{font-family: 'Myriad Pro',Helvetica,Sans-serif}
.coming-header{background-image: url('../img/home-gradient-patter.png');background-repeat: repeat-x;}
.coming-header .content{margin-top: 20px;}
.coming-header .content h4{font-weight:normal;color: #17659b;font-size: 40px;text-align: center;padding-top: 60px ;}
.coming-header .content h1{font-weight:normal;color: #ffffff;font-size: 65px;text-align: center;padding-top: 50px;padding-bottom: 50px;}
.coming-header .content p{color: #105a8c;font-size: 18px;text-align: center;}
.coming-header form{padding: 20px 0;padding-bottom: 50px;margin: 0 auto;}
.coming-header form input[type="text"]{
	border: 1px solid #cecaca;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	color: #7ac7fc;
	margin-left: 70px;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	width: 280px;
}
.coming-header form input[type="text"]::-webkit-input-placeholder{color: #7ac7fc;}
.coming-header form input[type="text"]:-moz-placeholder{color: #7ac7fc;}
.coming-header form input[type="submit"]{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	background-color: #2a99e5;
	color: #ffffff;
	text-align: center;
	border: 0;
	border-bottom: 3px solid #105a8c;
	padding: 10px 20px;
	margin-top: -10px;
	margin-left: 20px;
	font-size: 12px;
	font-weight: bold;
}
.coming-header form input[type="submit"]:hover{
	background-color: #3fa5eb;
}
.coming-header form input[type="submit"]:active{
	border: 1px solid #2a99e5;
}
.coming-header .bubble img{display: block;margin: 0 auto;}
.coming-footer{background-image: url('../img/ribbon-pattern.png');background-repeat: repeat-x;margin-top: 50px;}
.coming-footer .logo-cont{width: 270px;vertical-align: middle;max-width: 100%;margin: 0 auto;}
.coming-footer .logo-cont img{display: block;margin: 0 auto;width: 100%;position: relative; top: -100px;}

@media (max-width: 1025px) {
	.coming-header form input[type="text"]{
		margin-left: 0px !important;
		width: 225px !important;
	}

}
