@font-face {
  font-family: "kristen-regular";
  src: url('../fonts/itckrist.ttf') format('truetype');
}
*{
	font-family: "kristen-regular";
}
h1,h2,h3,h4,h5,h6{
	font-family: "kristen-regular" !important;
}
.white-color{
	color: #ffffff;
}
.blue-color{
	color: #0d92e5;
}

$bg-color : #0d92e5;
.hide{
	display: none !important;
}
@mixin background-image($url,$position: 'none')
{
	background-image: url('../img/'+$url);
	background-repeat: no-repeat;
	background-position: $position;
}

@mixin border-radius($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-o-border-radius: $radius;
}


body{
	.header-wrapper{
		padding: 31px 0;		
		.navigation{
			ul{
				li{
					list-style: none;
					display: inline-block;
					margin-right: 15px;
					padding-top: 7px;
					font-size: 14px;
					border-bottom: 2px solid transparent;
					a{
						@extend .blue-color;
						&:hover{
							text-decoration: none;
						}
					}
					&:hover{
						border-bottom: 2px solid #0d92e5;
					}
				}
			}
		}
		.cta-buttons{
			text-align: right;
			
			a.logout{
				background-color: #d9d3d3;
				color: #0d92e5;
				font-size: 14px;
				padding: 5px 35px;
				border-bottom: 3px solid #b5b3b3;
				&:hover{
					text-decoration: none;
				}
				&:active{
					padding: 6px 35px;
					border-bottom: 1px solid #b5b3b3;
					background-color: #e5e2e2;
				}
			}
			

		}
	}

	.dasboard-wrapper{
		height: auto;
		@include background-image('dash-bg.png',top center);
		background-repeat: repeat-x;
		padding-top: 44px;
		.left-dash-wrapper{

			.profile-image-container{
				img{
					width: 177px;
					height: 177px;
				}
				width: 183px;
				height: 180px;
				background-color: pink;
				border: 3px solid #fff;
				border-bottom: none;
				@include border-radius(5px 5px 0 0);
			}

			.title-cont{
				background-color: #0d92e5;
				width: 183px;
				text-align: center;
				padding: 8px 0;
				font-size: 18px;
				color: #fff;
			}
			.classes-cont{
				width: 183px;
				h5{
					color: #ea940c;
					font-weight: bold;
					text-align: center;
				}
				p{
					color: #fff;
					text-align: center;
					font-size: 12px;
					line-height: 14px;
					padding: 5px 0;
					margin-bottom: 5px;
					cursor: pointer;
				}
				p.upcoming{
					background-color: #ea940c;
				}
				.tooltip{					
					left: 192px !important;
					
					.tooltip-arrow{
						left: -3px;
						margin-top: -8px;
						border-right-color: #d6d5d5;
						border-width: 8px 8px 8px 0;
					}
					.tooltip-inner{
						background-color: #d6d5d5;
						color: #0d92e5;
						text-align: center;
						width: 185px;
						border-right: 20px solid #0d92e5;
						padding: 11px 0;
						@include border-radius(0);
						box-shadow: 0px 1px 2px #8c8989;
						-moz-box-shadow: 0px 1px 2px #8c8989;
					  	-webkit-box-shadow: 0px 1px 2px #8c8989;
					}
				}
				p.previous{
					background-color: #d6d5d5;
				}
			}
			.legend-cont{
				width: 183px;
				padding-left: 13px;
				padding-top: 10px;
				ul{
					margin: 0;
					padding: 0;
					li{
						list-style: none;
						display: inline-block;
						font-size: 11px;
						color: #43484b;
						&:before{
							content: '0';							
							height: 12px;
							padding-right: 8px;
							font-size: 8px;
							vertical-align: 2px;
						}
					}
					li:first-child{
						&:before{
							background-color: #ea940c;
							color: #ea940c;

						}
					}
					li:last-child{
						padding-left: 5px;
						&:before{
							background-color: #d6d5d5;
							color: #d6d5d5;

						}
					}
				}
			}
			table{
				width: 183px;
				margin-top: 10px;
				thead{
					th{
						font-size: 12px;
						color: #7c7979;
						text-align: center;
						font-weight: normal;
						padding-bottom: 4px;
					}
					border-bottom: 3px solid #dedddd;
				}
				tbody{
					td{
						font-size: 12px;
						color: #7c7979;
						vertical-align: top;
					}
				}
				border-bottom: 3px solid #dedddd;
			}
			.additional-inf{  
				width: 183px;
				text-align: left;
				color: #8b8989;
				font-size: 12px;
				padding-top: 15px; 
			}
			.teacher-ribbon{
				@include background-image('teacher-ribbon.png',top center);
				height: 196px;
				width: 119px;				
				margin: 0 auto;
				margin-top: 60px;
				p{
					text-align: center;
					padding-top: 32px;
					padding-left: 10px;
					color: #cdbf3d;
					font-size: 36px;
				}
			} 

		}
		.right-dash-wrapper{
			.welcome-message{
				p{
					color: #fff;
					font-size: 24px;
					text-align: center;  
					padding-top: 20px;
				}
			}
			.navigations{
				margin-top: 60px; 
				float: right;
				ul{
					padding: 0;
					li{
						listy-style: none;
						display: inline-block;
						font-size: 12px;
						margin-left: 10px;
						a{
							color: #ea940c;
							&:hover{
								//font-weight: bold;
								text-decoration: none;
							}
						}
					}
					li.selected{
						font-weight: bold;
					}
				}
			}
			.settings{
				width: 98%;
				float: right;
				.update-form{
					p{
						color: #a8a5a5;
						font-size: 12px;
						text-align: left;
						margin-bottom: 5px;
					}
					input[type=text].qoute{
						width: 100%;
						padding: 11px !important;
						
						margin-bottom: 20px;
					}
					input[type=text]{
						width: 100%;
						padding: 6px 0;
						margin-bottom: 12px;
						padding-left: 10px;
						border: 1px solid #d6d5d5;
						color: #bdb9b9;
						&:focus{
							outline: 0;
						}
					}
					label{
						font-weight: normal;
						font-size: 12px;
						color: #0d92e5;
					}
					input[type=checkbox]:before{							  
					  margin-left: -3px;
					  content: " ";
					  opacity: 1;
					  display: block;
					  width: 16px;
					  height: 16px;
					  background-color: #0d92e5;
					 
					  border: 1px solid #0d92e5;
					}
					input[type=checkbox]:checked:before{
					  line-height: 10px;
					  margin-left: -3px;
					  padding-top: 0px;
					  padding-left: 3px;
					  content: "\2713";
					  font-size: 21px;
					  color: #0d92e5;				
					  display: block;
					  width: 16px;
					  height: 16px;
					  background-color: #fff;
					}
					button{
						background-color: #0d92e5;
						color: #fff;
						font-size: 10px;
						padding: 6px 25px;
						border: none;
						border-bottom: 3px solid #0a85d1;
						&:hover{
							text-decoration: none;
						}
						&:active{
							padding: 7px 25px;
							border-bottom: 1px solid #0a85d1;
							background-color: #2ca4ef;
						}
					}
				}
				.upload{

					.upload-preview{
						background-color: #d6d5d5;
						height: 147px;
						width: 147px;
					}
					.upload-btn{
						margin-left: 67px;
						margin-top: 10px;
						background-color: #d9d3d3;
						color: #fff;
						font-size: 12px;
						padding: 4px 20px;
						border: none;
						border-bottom: 3px solid #b5b3b3;
						&:hover{
							text-decoration: none;
						}
						&:active{
							padding: 5px 20px;
							border-bottom: 1px solid #b5b3b3;
							background-color: #e2dede;
						}
					}
				}
			}
			.inbox{
				width: 98%;
				float: right;
				table{
					width: 100%;
					thead{
					background-color: #d6d5d5;
					color: #0d92e5;
					font-size: 14px;
						th:first-child{
							padding: 10px 0;
							width: 15%;
							text-align: left;
							img{
								margin-right: 10px;
								vertical-align: -3px;
								padding-left: 10px;
							}
						}
						th:last-child{
							width: 20%;
							text-align: right;
							img{
								padding-right: 10px;
							}
						}
					}
					tbody{

						font-size: 12px;
						color: #6f6464;
						td{
							background-color: #efeeee !important;
							.submit-box{
								width: 97%;
								text-align: left;
								margin: 20px auto;
								textarea{
									width: 100%;
									margin: 10px auto;
									display: block;
									resize: none;
									border: none;
									&:focus{
										outline: 0;
									}
								}
								button{
									background-color: #0d92e5;
									color: #fff;
									font-size: 10px;
									padding: 6px 25px;
									border: none;
									border-bottom: 3px solid #0a85d1;
									&:hover{
										text-decoration: none;
									}
									&:active{
										padding: 7px 25px;
										border-bottom: 1px solid #0a85d1;
										background-color: #2ca4ef;
									}
								}
							}
							.msg-box{
								background-color: #e9e8e8;
								
								width: 97%;
								margin: 10px auto;
								p{
									padding-top: 3px;
									.date{
										color: #b9b8b8;
										padding-right: 10px;
									}
									.author{
										color: #fff;
										padding: 3px 10px;
										background-color: #0d92e5;

									}
								}
								p.content{
									color: #746b6b;
									font-size: 12px;
									text-align: left;
									padding: 0 30px;
									padding-bottom: 30px;
								}
							}
						}
						td:first-child{
							label{
								font-weight: normal;							
							}
							text-align: left;
							padding-left: 10px;
							input[type="checkbox"]{
								margin-top: 10px;
								opacity: 1;
								text-align: center;
							}
							input[type=checkbox]:before{
							  
							  margin-left: -3px;
							  content: " ";
							  opacity: 1;
							  display: block;
							  width: 16px;
							  height: 16px;
							  background-color: #efeeee;
							 
							  border: 1px solid #0d92e5;
							}
							input[type=checkbox]:checked:before{
							  line-height: 10px;
							  margin-left: -3px;
							  padding-top: 0px;
							  padding-left: 3px;
							  content: "\2713";
							  font-size: 21px;
							  color: #0d92e5;				
							  display: block;
							  width: 16px;
							  height: 16px;
							  background-color: #efeeee;
							}
						}
						td:last-child{
							text-align: right;
							padding: 10px 0;
							padding-right: 10px;
						}
						tr:nth-child(even){
							background-color: #efeeee;

						}
						tr:nth-child(odd){
							background-color: #e8e7e7;
						}
					}
				}
			}
			.teacher{
				width: 95%;
				float: right;
				.teacher-selected{
					.teacher-avatar{
						width: 146px;
						.avatar-cont{						
							width: 146px;
							height: 146px;
							background-color: #d6d5d5;
						}
						.tag{
							text-align: center;
							color: #fff;
							background-color: #ea940c;
							font-size: 12px;
							padding: 8px 0;
							display: block;
							&:hover{
								text-decoration: none;
							}
						}
					}
					.teacher-info{
						padding-left: 40px;
						h5{
							font-size: 14px;
							color: #7c7979;
							font-weight: bold;

						}
						p{
							margin: 0;
							font-size: 12;
							color: #7c7979;
							span{
								color: #ea940c;
							}
						}
					}
					.calendar-cont{
						margin-top: 20px;
						table{
							background-color: #dedddd;
							width: 100%;
							thead{
								th{
									color: #7c7979;
									font-size: 18px;
									font-weight: normal;
									padding: 10px 0; 
									text-align: center;
									text-align: center;
								}
							}
							tr.weeks{
								td{
								 	background-color: #e6e5e5;
								 	color: #0d92e5;
								 	font-size: 14px;
								 	text-transform: uppercase;
								 	padding: 8px 0;
								 	text-align: center;
								 	border-right: 1px solid #d2d0d0;
								 	width: 14.28%;
								}
								td:last-child{
									border-right: none;
								}

							}
							tr.dates{
								td{
									height: 95px;
									text-align: right;
									vertical-align: top;
									border-right: 1px solid #d2d0d0;
									border-bottom: 1px solid #d2d0d0;
									
									color: #7c7979;
									font-size: 18px;
									p{
										padding-right: 10px;
									}
									div.highlight{			
										height: 100%;
										widht: 100%;
										background-color: #d3d1d1;
										padding-right: 10px;
									}
									.assign-schedule{
										background-color: #e99b21;
										color: #fff;
										font-size: 12px;
										text-align: center;
										padding: 10px;
										position: relative;
										bottom: -23px;
										cursor: pointer;
										display: block;
										&:hover{
											text-decoration: none;
										}
									}
								}
								
								td:last-child{
									border-right: none;
								}
							}
							tr:last-child{
								td{
									border-bottom: none;
								}
							}
											
						}
					}
				}
				.techers-view{
					h3{
						text-align: left;
						color: #0d92e5;
						font-size: 14px;
						padding-left: 4px;
					}
					.loadmore{
						width: 99%;
						a{
							background-color: #e1e0e0;
							color: #a09e9e;
							font-size: 12px;
							text-align: center;
							padding: 7px 0;
							width: 200px;
							display: block;
							margin: 0 auto;
							margin-top: 20px;
							&:hover{
								text-decoration: none;
							}
						}
					}
					table{
						border-collapse: separate; 
						border-spacing: 3px;
						width: 99%;
						td{
							background-color: #d9d7d7;
							width: 20%;
							.percent{
								color: #ea940c;
								text-align: center;
								font-size: 36px;
								padding: 40px 0;
								margin: 0;
							}
							.teacher-cont{
								background-color: #d0cfcf;
								color: #fff;
								text-align: center;
								margin: 0;
								padding: 7px 0;
							}
						}
					}
				}
				
			}
			.materials{
				width: 98%;
				float: right;
				h3{
					display: block;
					background-color: #d6d5d5;
					color: #0d92e5;
					font-weight: normal;
					font-size: 12px;
					padding: 15px 0;
					padding-left: 10px;
					margin-bottom: 0;
					margin-top: 5px;
					cursor: pointer;
					&:focus{
						outline: 0;
					}
				}
				a.more-info{
					color: #fff;
					font-size: 12px;
					text-align: center;
					background-color: #edb04e;
					border: 1px solid #ea940c;
					@include border-radius(2px);
					padding: 8px 20px;
					margin-top: 30px;
					display: block;
					width: 200px;
					&:hover{
						text-decoration: none;
					}
				}
				div.cont{
					background-color: #dedddd;
					padding-top: 20px;
					padding-bottom: 40px;
					height: auto !important;
					ul{
						padding: 0;
						li{
							list-style: none;
							h4{
								color: #0d92e5;
								font-size: 14px;
								padding-bottom: 10px;
							}
							p{
								color: #43484b;
								font-size: 12px;

								&:before{
									content: "0";
									color: #0d92e5;
									background-color: #0d92e5;
									padding-right: 10px;
									margin-right: 15px;
								}
							}
						}
					}
				}
			}
			.calendar-container{
				
				margin-top: 82px;
				width: 98%;
				float: right;
				table{
					background-color: #dedddd;
					width: 100%;
					thead{
						th{
							color: #7c7979;
							font-size: 18px;
							font-weight: normal;
							padding: 10px 0; 
							text-align: center;
							text-align: center;
						}
					}
					tr.weeks{
						td{
						 	background-color: #e6e5e5;
						 	color: #0d92e5;
						 	font-size: 14px;
						 	text-transform: uppercase;
						 	padding: 8px 0;
						 	text-align: center;
						 	border-right: 1px solid #d2d0d0;
						 	width: 14.28%;
						}
						td:last-child{
							border-right: none;
						}

					}
					tr.dates{
						td{
							height: 95px;
							text-align: right;
							vertical-align: top;
							border-right: 1px solid #d2d0d0;
							border-bottom: 1px solid #d2d0d0;
							
							color: #7c7979;
							font-size: 18px;
							p{
								padding-right: 10px;
							}
							div.highlight{			
								height: 100%;
								widht: 100%;
								background-color: #d3d1d1;
								padding-right: 10px;
							}
							.assign-schedule{
								background-color: #e99b21;
								color: #fff;
								font-size: 12px;
								text-align: center;
								padding: 10px;
								position: relative;
								bottom: -23px;
								cursor: pointer;
								display: block;
								&:hover{
									text-decoration: none;
								}
							}
						}
						
						td:last-child{
							border-right: none;
						}
					}
					tr:last-child{
						td{
							border-bottom: none;
						}
					}
									
				}
				.cal-design{
					height: 18px;
					background-color: #dedddd;
					margin-top: 5px;
				}
			}
		}

	}

	.footer-links{
		background-color: #0b82cc;		
		margin-top: 15px;
		.copy{
			color: #ffffff;
			font-size: 14px;
			padding: 3px 0;
			padding-top: 27px;
		}
		.icons{
			padding: 10px 0;
			img{
				float: right;
				margin-left: 10px;
			}
		}
		.navigation{
			padding: 13px 0;
			li{
				list-style: none;
				display: inline-block;
				margin-right: 15px;
				padding-top: 12px;
				font-size: 14px;
				border-bottom: 2px solid transparent;
				a{
					color: #ffffff;
					&:hover{
						text-decoration: none;
					}
				}
				
				&:hover{
						border-bottom: 2px solid #fff;
				}
			}
		}
	}

	.sched-modal{
		.modal-dialog{
			.modal-content{
				@include border-radius(0 !important);
				.modal-header{
					background-color: #0d92e5;
					border-bottom:none;
					h4{
						color: #fff;
						font-size: 12px;
					}
				}
				.modal-body{
					.time-tracker{
						padding: 20px;
						.titles{
							color: #2d8bcf;
							font-size: 12px; 
						}
						.date-pck{
							margin-bottom: 45px;
							border: 1px solid #cdcecf;
							width: 175px;
							font-size: 12px;
							padding: 3px 5px;
							&:focus{
								outline: 0;
							}
						}
						.date-picks{
							div.radio{
								margin-bottom: 0;
								padding-top: 8px;
								padding-bottom: 11px;
								padding-left: 30px;
								color: #2d8bcf;
								font-size: 12px;
								input[type="radio"]{
									opacity: 1;
									text-align: center;
								}
								input[type=radio]:before{
								  margin-top: -3px;
								  margin-left: -3px;
								  content: " ";
								  opacity: 1;
								  display: block;
								  width: 17px;
								  height: 17px;
								  background-color: #ebecec;
								  border-radius: 8px;
								  -webkit-border-radius: 8px;
								  -moz-border-radius: 8px;
								  -o-border-radius: 8px;
								  border: 2px solid #2d8bcf;
								}
								input[type=radio]:checked:before{
								  margin-top: -3px;
								  margin-left: -3px;
								  padding-top: 2px;
								  padding-left: 3px;
								  content: " ";
								  font-size: 14px;
								  color: #fff;				
								  display: block;
								  width: 17px;
								  height: 17px;
								  background-color: #2d8bcf;
								}
							}
							div.radio:nth-child(odd){
								background-color: #e1e2e2;
								
							}
							div.radio:nth-child(even){
								background-color: #ebecec;
								
							}
						}
					}
					padding: 0;
					.tooltip{
						
						.tooltip-arrow{
							border-bottom-color: #fff;
							
							
							
						}
						.tooltip-inner{
							background-color: #fff;
							@include border-radius(0);
							box-shadow: 0px 1px 2px #8c8989;
							-moz-box-shadow: 0px 1px 2px #8c8989;
						  	-webkit-box-shadow: 0px 1px 2px #8c8989;
						  	.done{
								color: #42d745;
							}
							.percent{
								color: #ebf14b;
							}
						}
					}
					table{
						width: 100%;
						tr{
							border-bottom: 1px solid #dedede;
							

							td:first-child{
								width: 8%;
								border-right: 1px solid #dedede;
								text-align: center;
								font-weight: bold;
								font-size: 12px;
								color: #817777;
								padding: 0;
							}
							td:last-child{
								padding: 0;
								width: 90%;
							}
						}
						tr:nth-child(odd){
							div.frame{
								background-color: #eebe72;
								color: #fff;
								font-size: 14px;
								width: 52%;
								padding-top: 8px;
								text-align: center;
								h6{
									font-weight: bold;
									margin: 0 auto;
									margin-top: 5px;
								}
								p{
									margin-bottom: 0;
								}
							}
						}
						tr:nth-child(even){
							div.frame{
								background-color: #fb75ea;
								color: #fff;
								font-size: 14px;
								width: 40%;
								padding-top: 8px;
								text-align: center;
								h6{
									font-weight: bold;
									margin: 0 auto;
									margin-top: 5px;
								}
								p{
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}









}